.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white);
  padding: 50px;
  height: auto;
}

.footer h3,
.footer p {
  width: fit-content;
}

@media (max-width: 768px) {
  .footer {
    padding: 25px;
  }
}
